.banner {
    height: 10%;
    width: 80%;
    background-color: red;
    margin-bottom: 20px;
    margin-right: auto;
    margin-left: auto;
    
}

body {
    background-color: #efeeee;
}

.mainDiv {
    width: 80%;
    height: 100%;
    color: black;
    margin-right: auto;
    margin-left: auto;
    background-color:white;
    
    
}

.content {
    padding: 1em;
}

.content-heading {
    background-color: lightgray;
}

.menu-panier {
    background-color: lightgray;
}

.menu-panier li {
    display: inline-block;
    padding-right: 2em;
}

.tableau-panier {
    border: 1px solid black;
    border-collapse: collapse;
}

.tableau-panier td {
    border: 1px solid black;
    padding: 2em; 
}

.tableau-panier th {
    border: 1px solid black;
    padding: 0.5em; 
}