.banner {
	height: :10%;
	width: 80%;
	background-color: red;
	margin-bottom: 20px;
	margin-right: auto;
	margin-left: auto;
	
}

body {
	background-color: #efeeee;
}

.mainDiv {
	width: 80%;
	height: 100%;
	color: white;
	margin-right: auto;
	margin-left: auto;
	background-color:white;

	
}